@media (max-width: 1366px) {
    .swiper_banner.swiper-container {
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }

}

@media (max-width: 1200px) {
    .owl_gallerys .item a{
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 1024px) {
    .swiper_banner.swiper-container {
        height: 100%;
    }

    .navbar-nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
}

@media (max-width: 812px) {

    .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .nav_top {
        padding-top: 15px;
    }

    .navbar-header {
        text-align: center;
    }

    #menu .navbar-toggle {
        float: none;
    }

    .nav_top .navbar-toggle {
        float: right;
        margin: 8px auto;
    }

    .navbar-brand {
        margin: 0 auto 15px 0;
        position: relative;
        top: 0;
        background-size: 50%;
        background-position: 50% 0;
    }
    .section_top .navbar-brand {
        margin-left: 15px !important;
        background-position: 0 0;
        top: 19px;
    }

    .box_user_top {
        margin-top: 10px;
        float: none;
        width: 100%;
        position: relative;
    }

    section.section_delivers {
        padding-top: 0 !important;
    }

    section.section_intro {
        padding: 50px 0;
    }

    section.section_intro img {
        margin: 0 auto;
    }

    .swiper_banner .swiper-slide {
        height: auto !important;
    }

    .swiper_banner.swiper-container, .swiper_banner .swiper-slide img {
        height: auto;
    }

    .w_box_trySearch, .w_owl_trySearch {
        width: 100%;
        float: none;
    }

    .customerServices_content, .relationships_content, .delivers_content {
        text-align: center;
    }

    .section_app h2 {
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .section_app img {
        display: block;
        margin: 15px auto 0;
    }

    footer {
        padding-top: 15px;
    }

    footer ul {
        margin-bottom: 30px;
    }

    footer ul.list_Therefore li {
        padding-left: 35px;
    }

    .box_socail a.btn {
        margin-right: 5px;
    }

    .footer ul li {
        font-size: 13px;
        line-height: 1.3em;
        margin-bottom: 5px;
    }

    .section_app {
        padding-top: 10px;
        padding-bottom: 15px;
        margin-top: 15px;
    }

    .footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .footer_bottom p {
        line-height: 1.5em;
    }

    .footer_top {
        padding-bottom: 5px;
    }

    .text_follow {
        margin-top: 15px;
        font-size: 20px;
    }

    .text_follow:after {
        width: 310px;
    }

    .logo_footer {
        margin: 0 auto;
        width: 113px;
    }

    .footer_bottom {
        margin-top: 0;
        padding-top: 10px;
    }

    .friend_list h3 {
        text-align: center;
        margin-top: 0;
    }

    .row_frend_item {
        padding: 0;
    }
    .frend_item .btn, .frend_item .new {
        margin-right: 3px;
        font-size: 12px;
        padding: 5px 10px;
        margin-top: 5px;
    }
    .box_top_infoProfile {
        padding: 0;
        margin-top: 30px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-nav > li:first-child > a {
        padding-left: 0;
    }
    .w_table_infoProfile {
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .content_profile .owl_trySearch.owl-theme .item a, .content_profile .owl_latestProfiles.owl-theme .item a, .content_profile .owl_mostvisitedProfiles.owl-theme .item a {
        height: auto;
    }
    .frm_search .form-control {
        width: 155px;
    }
    .box_form_group {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
    
    .box_favorites_item {
        min-height: 270px;
        margin-bottom: 10px;
    }
    .box_form_group_age .form-control {
        width: 90px;
    }
    .row_friend_item {
        padding: 0;
    }
    .frm_trySearch select.form-control {
        margin-bottom: 15px;
    }
    .box_trySearch .ms-options-wrap > .ms-options {
        left: 0;
    }
    .modalLogin, .modalRegister {
        width: 90%;
    }

    .modalRegister {
        padding: 15px;
    }

    .frm_login {
        width: 100%;
    }

    .modalRegister h2 {
        margin-top: 30px;
        font-size: 20px;
    }
    .modalRegister p {
        font-size: 14px;
        line-height: 1.3em;
    }
    .modalChat {
        width: 90%;
    }
    .bntMessage, .bntBlock, .bntRemove, .bntReject {
        font-size: 10px;
    }
    .send_number {
        margin-left: 10px;
    }
    .frend_item {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .caption {
        top: 45%;
        width: 90%;
        left: auto;
        right: auto;
    }
    .caption h2, .modalLogin h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .caption p {
        font-size: 14px;
        font-weight: 500;
    }
    .btnCreate_membership {
        font-size: 13px;
    }
    .fancybox-slide--current .animated-modal .frm_register {
        margin-top: 15px;
    }
    .description {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .box_socail {
        margin-top: 10px;
    }
    .footer ul.list_Therefore li {
        line-height: 1.3em;
        font-size: 12px;
        -webkit-background-size: 14px;
        background-size: 14px;
        padding-left: 20px;
    }
    .f14 {
        font-size: 11px;
    }
    .cookie {
        padding-right: 30px;
    }
    .cookie p {
        font-size: 12px;
        line-height: 1.5em;
    }
    .frm_search_custom {
        position: relative;
        top: -20px;
    }
    .swiper_banner .swiper-slide .img_blur img {
        height: auto;
    }
    .img_blur {
        margin-bottom: 10px;
        height: auto;
    }
    section.section_intro {
        /*height: auto;*/
    }
    .list_img_small_blur {
        margin-top: 0;
    }
    .swiper_banner .swiper-slide .main_img_customerServices img {
        border-width: 3px;
        width: 100px;
        height: 100px;
    }
    .main_img_customerServices {
        margin-bottom: 15px;
    }
    .w_box_img_blurring_item:nth-child(2) {
        top: 0;
    }

    .box_img_blurring_item {
        width: 90px;
        height: 90px;
        border-width: 5px;
    }

    .swiper_banner .swiper-slide .box_img_blurring_item img {
        height: 90px;
    }

    .w_box_img_blurring_item p {
        margin-top: 15px;
    }

    .box_img_blurring {
        margin: 0;
    }

    .section_blurring h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    ul.list_blurring {
        margin-top: 0px;
    }

    ul.list_blurring li {
        font-size: 11px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    ul.list_blurring li::before {
        font-size: 14px;
        --size: 20px;
    }

    .btnMore {
        margin-top: 15px;
        padding: 9px 40px;
    }

    .section_block_history {
        height: auto;
    }

    .section_block_history h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .section_block_history p {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .section_block_history .btnMore {
        margin-top: 0;
    }

    .swiper_banner .swiper-slide .box_img_chat img {
        height: auto;
    }

    .box_img_blocking {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }

    .swiper_banner .swiper-slide .box_img_blocking img {
        height: 100px;
    }

    .swiper_banner .swiper-slide.section_top {
        height: 650px !important;
    }

    .modalBlur {
        width: 90%;
        padding: 15px;
    }
    .frm_createprofile {
        width: 100%;
        margin: 90px 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .w_login2 {
        top: -90px;
    }
    .frm_newsletter {
        width: 100%;
    }
    ul.list_infoNewsletter li {
        width: 100%;
    }
    .box_gopayment {
        width: 100%;
        margin-top: 30px;
    }
    .friend_list h3 {
        margin-top: 20px;
    }
    .box_gopayment img {
        margin-left: 15px;
        margin-right: 15px;
        width: 90%;
    }

    .checkbox label {
        font-size: 11px;
    }
    .checkbox label span {
        top: 3px;
    }
    .section_block_history p {
        font-size: 12px;
        line-height: 1.3em;
    }
    .box_modalBlur_img {
        margin: auto;
    }
    .w_box_modalBlur_img, .w_box_modalBlur_content {
        height: auto;
    }
    .w_mainFooter {
        height: auto;
    }
    .modalBlur p {
        font-size: 11px;
    }
    .modalBlur h4{
        font-size: 16px;
    }
    ul.list_intro li{
        background-size: 20px;
        padding-left: 25px;
        background-position-y: 5px;
    }
    .footer ul{
        margin-bottom: 10px;
    }
    .frm_createprofile h2 {
        font-size: 20px;
    }
    .frm_createprofile h3 {
        font-size: 18px;
    }
    .btnCreateprofile {
        padding: 15px 30px;
        font-size: 14px;
    }
    .frm_createprofile .form-control {
        font-size: 13px;
        padding-left: 5px;
    }
    .content_profile .owl-theme {
        padding-left: 15px;
        padding-right: 15px;
    }
    header {
        padding-bottom: 15px;
    }
    .box_editProfile {
        width: 100%;
        float: none;
        padding: 0 15px;
    }
    #menu_sub {
        position: absolute;
        top: 61px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        border: 1px solid #f1f1f1;
        box-shadow: none;
    }
    #toggle + #menu_sub {
        display: none;
    }
    .that_profile {
        float: none;
        width: 100%;
        height: auto;
        padding: 20px 15px;
    }
    .box_editProfile h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .content_profile section {
        margin-bottom: 30px;
    }
    .table_infoProfile tr th {
        width: 50%;
        font-weight: 500;
    }
    .btnMovetop {
        position: relative;
        bottom: 0;
        right: 0;
        display: block;
        text-align: center;
        margin-top: 15px;
    }
    .banner_info {
        height: auto;
    }
    .banner_info h2 {
        font-size: 20px;
    }
    .box_notify, .btnPennic {
        display: none;
    }
    .box_label_member {
        height: auto;
        margin-top: 15px;
    }
    ul.list_intro.intro_footer li{
        font-size: 12px;
    }
    .that_profile ul li a, .box_editProfile ul li a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
    }
    #filter .box_form_group {
        width: 100%;
    }
    #filter .box_form_group_age .form-control, #filter .box_form_group p {
        width: 100%;
    }
    .box_wrap .ms-options-wrap > button:focus, .box_wrap .ms-options-wrap > button {
        width: 100%;
    }
    .ms-options-wrap > button:focus, .ms-options-wrap > button {
        width: auto;
    }
    .ms-options-wrap {
        width: 100%;
    }
    .ms-options-wrap > .ms-options {
        width: 290px;
        left: -10px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    }
    .btn_searchResult {
        margin-bottom: 15px;
    }
    .frend_item h4 {
        margin-top: 15px;
    }
    .chat ul {
        height: 44vh;
        /*min-height: 200px;*/
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
    }
    .frm_Chat .form-control {
        width: 100%;
        max-height: 90px;
        height: 35px;
        padding: 7px 10px;
    }
    .modalChat h4 {
        margin-top: 20px;
    }
    .modalChat{
        padding: 15px 10px 10px;
        margin: 12px 0px;
    }
    .btnLogout {
        padding: 10px;
        font-size: 14px;
        width: 100%;
    }
    .ms-options-wrap > .ms-options > ul label {
        font-size: 12px;
    }
    .nav-tabs > li > a {
        font-size: 13px;
    }
    .frm_search .ms-options-wrap > button {
        width: 100%;
    }
    .btn_editGallery{
        padding-top: 15px;
    }
    .m_fz13{
        font-size: 13px;
    }
    .m_fz14{
        font-size: 14px;
    }
    .m_mr0{
        margin-right: 0px;
    }
    .m_mr10{
        margin-right: 10px;
    }
    .btnClose_img, .btnEdit_img {
        color: #ffa507 !important;
    }

    .table_membership.table > tbody > tr > td, .table_membership.table > tbody > tr > th, .table_membership.table > tfoot > tr > td, .table_membership.table > tfoot > tr > th, .table_membership.table > thead > tr > td, .table_membership.table > thead > tr > th {
        padding: 8px;
    }

    .btn_editGallery_custom {
        display: inline-block;
    }

    .box_favorites_item .nation,
    .box_favorites_item .old{
        font-size: 11px;
    }
    .thumbnail{
        margin-bottom: 0px;
    }
    .progress{
        margin: 15px 0 22px;
    }
    .marginOnMobile{
        margin-left: 68px;
    }
    .btn_addFriend{
        font-size: 10px;
    }
    .chat ul li{
        margin-top: 50px;
    }
    .gray_friend_item{
        padding: 8px;
        height: 35px;
    }
    .col-xs-6{
        padding: 0 5px;
    }
    .favorites_footer{
        opacity: 1;
        padding: 5px;
        background: none;
    }

    .img_guldmedlem {
        display: block;
        margin-top: 15px;
        text-align: center;
    }
    .img_guldmedlem img {
        width: 150px;
    }

    /* Chat page*/
    .frame_chat {
        width: 100%;
    }
    .frame_chat.frame_chat_pc {
        padding: 15px;
        min-height: auto;
        margin-bottom: 60px;
    }
    .frm_Chat .btnSend {
        width: 44px;
    }

    /*.frame_chat_pc .frm_Chat .form-control {
        width: 100%;
    }*/
    .frame_chat_pc .chat ul {
        height: 500px;
        min-height: 200px;
        padding-right: 0px;
    }

    .fancybox-slide video {
        height: auto;
        width: 90%;
        max-height: 80%;
    }

    #imgContainer{
        margin-bottom: 5px;
    }

    .frm_Chat .emojionearea-editor{
        padding: 3px 0 0 0;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .col-ms-1, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9, .col-ms-10, .col-ms-11, .col-ms-12 {
        float: left;
    }

    .col-ms-12 {
        width: 100%;
    }

    .col-ms-11 {
        width: 91.66666667%;
    }

    .col-ms-10 {
        width: 83.33333333%;
    }

    .col-ms-9 {
        width: 75%;
    }

    .col-ms-8 {
        width: 66.66666667%;
    }

    .col-ms-7 {
        width: 58.33333333%;
    }

    .col-ms-6 {
        width: 50%;
    }

    .col-ms-5 {
        width: 41.66666667%;
    }

    .col-ms-4 {
        width: 33.33333333%;
    }

    .col-ms-3 {
        width: 25%;
    }

    .col-ms-2 {
        width: 16.66666667%;
    }

    .col-ms-1 {
        width: 8.33333333%;
    }

    .col-ms-pull-12 {
        right: 100%;
    }

    .col-ms-pull-11 {
        right: 91.66666667%;
    }

    .col-ms-pull-10 {
        right: 83.33333333%;
    }

    .col-ms-pull-9 {
        right: 75%;
    }

    .col-ms-pull-8 {
        right: 66.66666667%;
    }

    .col-ms-pull-7 {
        right: 58.33333333%;
    }

    .col-ms-pull-6 {
        right: 50%;
    }

    .col-ms-pull-5 {
        right: 41.66666667%;
    }

    .col-ms-pull-4 {
        right: 33.33333333%;
    }

    .col-ms-pull-3 {
        right: 25%;
    }

    .col-ms-pull-2 {
        right: 16.66666667%;
    }

    .col-ms-pull-1 {
        right: 8.33333333%;
    }

    .col-ms-pull-0 {
        right: auto;
    }

    .col-ms-push-12 {
        left: 100%;
    }

    .col-ms-push-11 {
        left: 91.66666667%;
    }

    .col-ms-push-10 {
        left: 83.33333333%;
    }

    .col-ms-push-9 {
        left: 75%;
    }

    .col-ms-push-8 {
        left: 66.66666667%;
    }

    .col-ms-push-7 {
        left: 58.33333333%;
    }

    .col-ms-push-6 {
        left: 50%;
    }

    .col-ms-push-5 {
        left: 41.66666667%;
    }

    .col-ms-push-4 {
        left: 33.33333333%;
    }

    .col-ms-push-3 {
        left: 25%;
    }

    .col-ms-push-2 {
        left: 16.66666667%;
    }

    .col-ms-push-1 {
        left: 8.33333333%;
    }

    .col-ms-push-0 {
        left: auto;
    }

    .col-ms-offset-12 {
        margin-left: 100%;
    }

    .col-ms-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-ms-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-ms-offset-9 {
        margin-left: 75%;
    }

    .col-ms-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-ms-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-ms-offset-6 {
        margin-left: 50%;
    }

    .col-ms-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-ms-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-ms-offset-3 {
        margin-left: 25%;
    }

    .col-ms-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-ms-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-ms-offset-0 {
        margin-left: 0;
    }
}

@media (max-width: 736px) {
    .nav_top .navbar-collapse {
        background: rgba(0, 0, 0, .8);
        padding: 15px;
        text-align: center;
        float: none;
    }

    .box_login {
        position: relative;
        top: -50px;
    }

    .navbar-brand {
        width: 100%;
        float: none;
        display: block;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 414px) {
    .navbar-nav > li:first-child > a {
        padding-left: 10px;
    }

    /* Chat page*/
    .frame_chat_pc .frm_Chat .btnSend {
        width: auto;
    }

    #modalSelectAvatar img{
        width: 100%;
    }

    #modalSelectAvatar label{
        width: 49%;
    }

    .img_content img{
	    height: 70px;
    }
}

@media (max-width: 320px) {
    /*.section_app h2 {
        font-size: 6px;
    }*/
}